<header class="h-20 flex justify-around items-center text-teal-200 uppercase bg-teal-900">
  <h1 class="text-xl">Juan Ortiz Dev</h1>
  <nav>
    <ul class="flex">
      <li><button class="mx-4 uppercase py-2 px-4 border-2 border-teal-700 hover:bg-teal-700 hover:text-teal-50">about me</button></li>
      <li><button class="mx-4 uppercase py-2 px-4 border-2 border-teal-700 hover:bg-teal-700 hover:text-teal-50">projects</button></li>
      <li><button class="mx-4 uppercase py-2 px-4 border-2 border-teal-700 hover:bg-teal-700 hover:text-teal-50">contact me</button></li>
    </ul>
  </nav>
</header>